<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菜单列表</title>
</head>


<body>

    <div class="menu">
        <table id="tb-menu" width="100%" border="0" cellpadding="4" cellspacing="1" class="tab-user-list"
            align="center">
            <tr>
                <th>菜单名称</th>
                <th>菜单级数</th>
                <th>前端名称</th>
                <th>前端图标</th>
                <th>是否显示</th>
                <th>排序</th>
                <th>设置</th>
                <th>操作</th>
            </tr>
        </table>

        
    </div>

    
</body>

</html>