<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
</head>

<body>
    <div class="container">
        <form>
            <div class="content">
                <h5>register</h5>
                <label for="fname">UserName</label>
                <input type="text" id="userName" name="userName" placeholder="enter user name">
                <label for="lname">Password</label>
                <input type="text" id="password" name="password" placeholder="enter password">
                <input type="submit" id="btn_submit" name="submitForm" value="register">

            </div>
        </form>
    </div>
</body>

</html>