<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product</title>
</head>


<body>

    <div class="product">
        <h4>product main</h4>

        <div class="switch">
            <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
            <label for="cmn-toggle-1"></label>
        </div>


        <div class="switch">
            <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
            <label for="cmn-toggle-2"></label>
        </div>





    </div>
</body>

</html>