<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户列表</title>
</head>


<body>

    <div class="admin">
        <table id="tb-user" width="100%" border="0" cellpadding="4" cellspacing="1" class="tab-user-list"
            align="center">
            <tr>
                <th>用户名</th>
                <th>昵称</th>
                <th>邮箱</th>
                <th>头像</th>
                <th>创建时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </table>

        <div class="footer">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>

    
</body>

</html>