<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资源列表</title>
</head>


<body>

    <div class="resource">

        <div class="resource-search">
            <select  id="sl-resource-category">
                <option value=""></option>
            </select>
        </div>
        <table id="tb-resource" width="100%" border="0" cellpadding="4" cellspacing="1" class="tab-user-list"
            align="center">
            <tr>
                <th>资源名称</th>
                <th>资源路径</th>
                <th>描述</th>
                <th>添加时间</th>
                <th>操作</th>
            
            </tr>
        </table>

        <div class="footer">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a class="active" href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>

    
</body>

</html>