<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <script>
    </script>
</head>

<body>
    <div id="app" class="parent">
        <div class="left">
            <!-- <div class="menu-item"><img src="../../resources/images/ic_home.png" class="img-icon" /><span>首页</span>
            </div>

            <div class="menu-item collapsed"><img src="../../resources/images/ic_product.png"
                    class="img-icon" /><span>商品</span><img class="img-tag"
                    src="../../resources/images/arrow_down.png" /></div>
            <ul>
                <li><img class="img-sub-icon" src="../../resources/images/ic_product_list.png" /><a href="#">商品列表</a>
                </li>
                <li><img class="img-sub-icon" src="../../resources/images/ic_add.png" /><a href="#">添加商品</a></li>
                <li><img class="img-sub-icon" src="../../resources/images/ic_delete.png" /><a href="#">删除商品</a></li>
                <li><img class="img-sub-icon" src="../../resources/images/ic_brand_list.png" /><a href="#">品牌列表</a></li>
            </ul>

            <div class="menu-item collapsed" id="order_list"><img src="../../resources/images/ic_order.png"
                    class="img-icon" /><span>订单</span><img class="img-tag"
                    src="../../resources/images/arrow_down.png" /></div>

            <ul>
                <li><img class="img-sub-icon" src="../../resources/images/ic_product_list.png" /><a href="#">订单列表</a>
                </li>
                <li><img class="img-sub-icon" src="../../resources/images/ic_delete.png" /><a href="#">删除订单</a></li>
            </ul> -->
        </div>
        <div class="right">
            <h5>Content</h5>
        </div>
    </div>
</body>

</html>