<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>

<body>
    <div class="container">
        <form>
            <div class="content">
                <label for="fname">UserName</label>
                <input type="text" id="userName" name="userName" placeholder="enter user name">
                <label for="lname">Passwor</label>
                <input type="password" id="password" name="password" placeholder="enter password">
                <input type="button" id="btn_submit" name="submitForm" value="login">

                <a href="../register" class="register">No Account,Register!</a>
            </div>
        </form>

        <div class="img-container">
            <img id="test" alt="svg" src="" class="img-default"></img>
        </div>


        <div class="boxes">
            <div class="box1">
                <div class="select open">
                    <p id="title">请选择</p>
                    <ul id="box1ul">
                        <li class="active">所有选项</li>
                        <li>javascript</li>
                        <li>html</li>
                        <li>css</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</body>

</html>